---
import SvgIcon from './react-components/SvgIcon';
import FlexBox from './FlexBox.astro';
import ReactButton from './react-components/DropDown';

interface Props {
    text: string;
    prependIcon?: string;
    appendIcon?: string;
    iconSize?: string;
    onClickFunction: () => void;
}
const {
    text,
    prependIcon = '',
    appendIcon = '',
    iconSize,
    onClickFunction,
} = Astro.props;
---

<div class="button">
    <FlexBox flexDirection="row">
        {prependIcon ?? <SvgIcon path={prependIcon} size={iconSize} />}
        <ReactButton
            client:only="react"
            text={text}
            onClickFunction={onClickFunction}
        />
        {appendIcon ?? <SvgIcon path={appendIcon} size={iconSize} />}
    </FlexBox>

    <slot />
</div>

<style lang="scss" scoped>
    .button {
    }
</style>
