---
import { PHONE_CONTACTS } from '../../shared/model/contacts';
---

<div
    class="flex items-center justify-center bg-main-color-3 w-full text-lg font-roboto font-normal leading-[100%]"
>
    <div class="flex gap-5 p-5">
        <a class="w-[197px] text-center" href="mailto:svto@mail.ru"
            >svto@mail.ru</a
        >
        <a class="w-[197px] text-center" href={PHONE_CONTACTS[0].link}
            >{PHONE_CONTACTS[0].name}</a
        >
        <a class="w-[197px] text-center" href={PHONE_CONTACTS[1].link}
            >{PHONE_CONTACTS[1].name}</a
        >
        <a class="w-[197px] text-center" href={PHONE_CONTACTS[2].link}
            >{PHONE_CONTACTS[2].name}</a
        >
    </div>
</div>
